#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ECE0F8;
}

.clock {
  position: relative;
  bottom: 25px;
}

.advice {
  position: relative;
  bottom: 20px;
  border: 3px solid white;
  width: 350px;
}


.todoInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10px;
  height: 50px;
}

ul {
  list-style: none;
  width: 352px;
  height: 400px;
  margin: 0;
  padding: 0;
  background-color: #ECE0F8;
  border: 3px solid white;
  overflow: scroll;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 35px;
  margin-bottom: 5px;
  padding: 0;
  background-color: white;
  border: 1px solid lightgray;
}

.checkbox {
  margin-left: 15px;
}


.liInput {
  text-align: left;
  width: 150px;
}

button {
  background-color: #AD8EDB;
  width: 30px;
  height: 30px;
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 65px;
  margin-right: 5px;
}

.showBtn{
  width: 150px;
}

ul::-webkit-scrollbar{
  display: none;
}